.path-frontpage #auth_box #middle_part > h2.title , #auth_box #middle_part > h2.title {
	display: flex;
	justify-content: center;
}

.path-frontpage #bottom_part, #auth_box #bottom_part  {
	margin-top: -110px;
	
}

/****/
#header .site-branding {
	background-image: none;
}
#header .site-branding__name a {
	color:#313637
}
#header .site-header__initial {
	background: none;
}

body.path-frontpage {
	background-image: none !important;
}
body{
	background-image:none !important;
}

.path-frontpage #bottom_part .password_link , .path-frontpage #bottom_part  .back_link, #auth_box  #bottom_part .password_link,
  #auth_box  .back_link {

	  display: flex;
    justify-content: center;
}

.path-frontpage .region.region--highlighted.grid-full.layout--pass--content-medium, #auth_box  .region.region--highlighted.grid-full.layout--pass--content-medium {
	  display: flex;
    flex-direction: column;
}

.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow, #auth_box  .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow {
	/*margin-left: -16%;*/
	display: flex;
}

.path-frontpage nav.tabs-wrapper > ul.tabs.tabs--primary , #auth_box  nav.tabs-wrapper > ul.tabs.tabs--primary {
	  /*display: flex;*/
    justify-content: center;
    /*margin-left: -56px;*/
}

.path-frontpage #block-olivero-primary-local-tasks, #auth_box #block-olivero-primary-local-tasks{
	margin-bottom: 0;
}
.path-frontpage #block-olivero-content, #auth_box #block-olivero-content{
	    margin-top: 25px;
}

.path-frontpage #auth_box, body #auth_box {
    width: 25%;
}
#auth_box.password {
    width: 25%;
}

#auth_box.password .region.region--highlighted {
	display: flex;
} 
#auth_box.password .region.region--highlighted .tabs.tabs--primary {
	width: max-content;
}
#auth_box.password #block-olivero-content {
	display: flex;
  grid-column: unset;
}
#auth_box.password form.user-pass {
	width: 85%;
}
#auth_box.password #bottom_part {
	    margin-top: -110px;
}
#auth_box.password #bottom_part .login_link {
	display: flex;
  justify-content: center;
}
#auth_box.password #bottom_part .back_link {
    display: flex;
    justify-content: center;
}
#auth_box #bottom_part .back_link {
	display: none !important;
}

#page-wrapper.page-wrapper {
    max-width: 100%;
    background: #fff;
}
@media (min-width: 75rem) {
	body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed {
		position: fixed;
		z-index: 102;
		top: -4.5rem;
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	#auth_box.password {
    width: 97%;
}
  /* For mobile phones: */
  .path-frontpage #auth_box,  #auth_box {
    width: 100%;
	}
	
	.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow,
	#auth_box  .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow{
    margin-left: 0;
	}
	.path-frontpage #middle_part, #auth_box #middle_part  {
		    min-height: 550px;
	}
	.path-frontpage #middle_part, #auth_box  #middle_part {
		min-height: 600px;
	}
	body {
		background-color: cyan;
	}
}
  

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
	.path-frontpage #auth_box {
    width: 100%;
	}
	.path-frontpage #block-olivero-content .block__content, #auth_box  #block-olivero-content .block__content {
		display: flex;
	}
	.path-frontpage #block-olivero-content .block__content .user-login-form, #auth_box  #block-olivero-content .block__content .user-login-form {
		margin: auto;
	}
	.path-frontpage #the_logo img, #auth_box  #the_logo img {
		max-width: 40%;
    margin: auto;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		background-color: rgb(137, 197, 40);
	}
	#auth_box.password {
    width: 72%;
  }
  /* For mobile phones: */
  .path-frontpage #auth_box,  #auth_box {
    width: 100%;
	}
/*	.path-frontpage #auth_box */
	
	.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow,
	 #auth_box  .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow{
    margin-left: 0;
	}
	.path-frontpage #the_logo img, #auth_box  #the_logo img{
		max-width: 40%;
    margin: auto;
	}
}